.side-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side-stats,
.side-form,
.side-header {
  -webkit-box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.side-header {
  min-height: 150px;
  background: rgb(113, 200, 255);
  background: linear-gradient(
    90deg,
    rgb(32, 169, 254) 0%,
    rgba(98, 0, 255, 1) 29%,
    rgb(159, 9, 193) 58%,
    rgba(255, 19, 115, 1) 100%
  );
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.side-header h2,
.side-header h3 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-header {
  padding-left: 2em;
  padding-top: 4em;
}

.side-header h3 {
  font-weight: 400;
}

.side-stats,
.side-form {
  display: flex;
  min-height: 190px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  padding-left: 2em;
  font-weight: 500;
}

.side-stats {
  flex-direction: column;
  align-items: flex-start;
}

.side-stats h2 {
  margin: 0;
}

.stats-text {
  display: flex;
  flex-direction: column;
  line-height: 5px;
  width: 80%;
}

.stats-text > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.stats-inner {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.side-form {
  min-height: 250px;
}

.inner-form {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  gap: 5px;
}

.side-form select {
  min-width: 50px;
  font-weight: 500;
  border: none;
  font-family: "Poppins";
  font-size: 15px;
  background-color: #ececed;
  border-radius: 5px;
  color: #4460e6;
}

.badge {
  min-height: 7px;
  min-width: 7px;
  border-radius: 50%;
}

form > input {
  font-family: "Poppins";
  border: none;
  background-color: #4460e6;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  min-height: 35px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .side-header {
    padding: 0 1em;
    display: flex;
    align-items: center;
  }
  .side-stats {
    padding: 0 1em;
    display: flex;
    align-items: center;
  }
  .side-section {
    width: 100%;
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  .side-section {
    flex-direction: column;
  }
}
